

/*------------------HEADER--------------*/
header{
    position: relative;
    ul.menu{
        position: absolute;
        left: 68%;
        top: 10%; 
        float: right;
    }
}// END OF HEADER

/*------------MAIN----------*/
main{
   
    h1{
        margin-top: 2.5rem;
    }
    figure.photo{
        width: 25% - $gutterDouble;
        float: left;
    }
    figure.photo img{
        height: 25rem;
    }
    
    /*----------------GALLERY--------------*/
    figure.gallery {
        border: 1px solid #ccc;
        width: 25% - $gutterDouble;
        float: left;
    }
    figure.gallery img{
        height: 25rem;
    }
    
    /*----------------RECIPES--------------*/

    article.multiColumn{
        
        column-count: 3;
        -webkit-column-count: 3; //Chrome, Safari, Opera
        -moz-column-count: 3;//Firefox
    }
   
}// END OF MAIN


 

