/* Prevent adjustments of font size after orientation cahanges in IE on windows, phone and in ios.*/
html{
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

/* Apply a natural box layout model to all elements */
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box; 
}

/*---------------BODY-----------*/
body{
    font-family: $defaultFont;
    font-weight: $normalWeight;
    width: 100%;
    background-image: url(../images/back1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// END OF BODY
div#wrapper{
    background-color: rgba(255,255,255,0.5); 
    width: 100%;
    height: auto;
}
/*---------------HEADER-----------*/
header{
    position: relative;
    padding: 1rem $gutter;
    a{
        text-decoration: none;
    }
    a h1{
        font-size: 2.2rem;
        font-weight: $normalWeight;
        color: $headerTextColor;
    }
    a h2{
        font-size: 1.35rem;
        font-weight: $normalWeight;
        color: #f44253;
    }
    ul.menu{
        position: absolute;
        left: 8px;
        top: 100px; 
        float: right;
    }
    
    ul li{
        width: auto;
        margin: 0;
        float: left;
        list-style-type: none;
    }
    ul li a{
        display: block;
        text-align: center;
        font-size: 1.2rem;
        padding: 0.6rem;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        text-decoration: none;
        color: black;
    }
//    ul li a:last-child{border-right: none;}
    ul li.active a{
        background-color: $headerTextColor;
        color: white;
    }
    ul li a:hover{
        color: white;
        background-color: limegreen;
    }
}// END OF HEADER

/*---------------MAIN-----------*/
main{
    section#slideshow{
        margin-top: 20px;
        margin-bottom: 90px;
    }
    h1{
        font-size: 2rem;
        margin: 150px 0 5px $gutter;
        color: $primaryColor;
    }
    h2{
        font-size: 1.75rem;
        color: $primaryColor; 
        font-weight: $boldWeight;
        margin: 0 $gutter;
    }
    hr.fadeAway{
        background: linear-gradient(to right, #008000, #299724, #43af3f, #5ac758, #71e071); 
        height: 2px;
        border: none;
        margin: 0 $gutter;
    }
    
    div.aboutText{
        margin: 1.5rem $gutter;
    }
    div.aboutText p{
        margin: 1.5rem 0;
        font-size: 1.5rem;
        font-family: $textFont;
        text-align: left;
        color: $fontColor;
        line-height: normal;
    }
    
    figure.photo{
        width: 100% - $gutterDouble;
        margin: .5rem $gutter;
    }
    figure.photo a{
        text-decoration: none;
    }
    
    figure.photo img{
        width: 100%;
    }
    figure.photo img:hover{
        box-shadow: 0 0 20px #000000;
    }
    figure.photo figcaption{
        text-align: center;
        color: $primaryColor;
        padding-top: .5rem;
        font-size: 1.3rem;
        font-weight: $boldWeight;
    }
    figure.photo figcaption:hover{
        color: darken($secondaryColor, 10%);
    }
    
    /*END OF INDEX*/
    
    /*RECIPES*/
    article, ol li{
        margin: .5rem $gutter;
    }

    figure.photo-pd, figure.photo-pd img{
        width: 100%;
    }
    p.aboutRecipe{
        margin: $gutter;
        color: $fontColor;
        font-size: 1.25rem;
        font-family: $textFont;
        line-height: 1.8rem;
    }
    article.multiColumn h2{
        font-size: 1.5rem;
    }
    article.multiColumn ol{
        margin: .5rem $gutter;
    }
    article.multiColumn ol li{
        color: $fontColor;
        font-family: $textFont;
        font-size: 1rem;
        font-weight: $normalWeight;
        padding: 1px $gutter;
        line-height: 1.5rem;
    }
     /*END OF RECIPES
    
     /*CONTACT*/
    form.contactForm{
        height: 100%;
        margin: 1rem $gutter;
        background-color: $primaryColor;
        color: #ffffff;
        padding: $gutter;
        text-align: center;
        label{
            font-size: 1rem;
            font-weight: $boldWeight;
        }
        input[type=text], input[type=email], select, textarea{
            width: 100%; 
            padding: .75rem; 
            border: 1px solid $secondaryColor;
            border-radius: .25rem;
            box-sizing: border-box;
            margin-top: .5rem; 
            margin-bottom: 1rem; 
            //resize: vertical;/* Allow the user to vertically resize the textarea (not horizontally) */
        }
        textarea{
            min-height: 30%;
        }
        input[type=submit] {
            background-color: $secondaryColor;
            color: $primaryColor;
            padding:1rem 2rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type=submit]:hover{
            background-color: darken($secondaryColor, 20%);
            color: #ffffff;
        }
    }
    
    /*END OF CONTACT*/
}

/*---------------FOOTER-----------*/
footer{
    margin-top: 5%;
    width: 100%;
    background-color: $headerTextColor;
    
    p{
        text-align: center;
        color: white;
        padding: .5rem;
        font-size: .9rem;
    }
    p a{
        color: white;
        text-decoration: none;
    }
}// END OF FOOTER



/*----CLEARFIX: Force an element not to collapse*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}




