$primaryColor: #000000;
$secondaryColor: #32CD32;
$headerTextColor: #008000;
$fontColor: #000000;
$fontColorRecipes: #281b28;

$defaultFont: 'Lobster', cursive;
$textFont: 'Roboto Condensed', sans-serif;
$normalWeight:300;
$boldWeight:700;

$gutter: 2%;
$gutterDouble: (2 * $gutter);
