$primaryColor: #d32ded;
$secondaryColor: #edc4f2;
$fontColor: #413642;
$fontColorRecipes: #281b28;

$defaultFont: 'Lato', sans-serif;
$normalWeight:300;
$boldWeight:700;

$gutter: 2%;
$gutterDouble: (2 * $gutter);
